body {
    background-image: url("../images/homebild.png");
    background-position: center; /* Blauer Hintergrund für den gesamten Seiteninhalt */
    background-size: cover;
    background-repeat: no-repeat;
}

/* home section */
.home {
    color: white;
    display: flex;
    align-items: center;
    min-height: 94vh;
    padding: 0px 11%;
}

.home .home-section {
    max-width: 650px;
}

.home-section h1 {
    font-size: 57px;
}

.home-section h1 span {
    color: burlywood;
}

.home-section p {
    font-size:  17px;
}

.home-section .btn-box {
    margin-top: 37px;
}

.home-section .btn-box a {
    padding: 11px 29px;
    background-color: burlywood;
    font-size: 17px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    border: 3px solid burlywood;
    border-radius: 7px;
}

.btn-box a:nth-child(1) {
    background: burlywood;
    color: white;
    transition:  all 0.3s;
}

.btn-box a:nth-child(1):hover {
    background-color: transparent;
    color: burlywood;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: burlywood;
    margin-left:  11px;
    transition:  all 0.3s;
}

.btn-box a:nth-child(2):hover {
    background-color: burlywood;
    color: white;
}